'text.html':
  'Card':
    'prefix': 'bs4-card'
    'body': """
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">$1</h4>
          <p class="card-text">$2</p>
          <a href="#" class="card-link">$3</a>
        </div>
      </div>
    """

  'Card header':
    'prefix': 'bs4-card-header'
    'body': '<div class="card-header">$1</div>'

  'Card blockquote':
    'prefix': 'bs4-card-blockquote'
    'body': """
      <blockquote class="card-blockquote">
        <p>$1</p>
        <footer><cite title="Source Title">$2</cite></footer>
      </blockquote>
    """

  'Card footer':
    'prefix': 'bs4-card-footer'
    'body': '<div class="card-footer">$1</div>'

  'Card image':
    'prefix': 'bs4-card-image'
    'body': '<img class="card-img-${1:top}" data-src="holder.js/100%x180/" alt="$2">'

  'Card image overlay':
    'prefix': 'bs4-image-overlay'
    'body': """
      <div class="card card-inverse">
        <img class="card-img" data-src="holder.js/100%x270/#55595c:#373a3c/text:Card image" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">$1</h4>
          <p class="card-text">$2</p>
        </div>
      </div>
    """

  'Card group':
    'prefix': 'bs4-card-group'
    'body': '<div class="card-group">\n$1\n</div>'

  'Card deck':
    'prefix': 'bs4-card-deck'
    'body': '<div class="card-deck-wrapper">\n\t<div class="card-deck">\n\t\t$1\n\t</div>\n</div>'

  'Card column':
    'prefix': 'bs4-card-column'
    'body': '<div class="card-column">\n$1\n</div>'
