'.text.html':
  'Media object':
    'prefix': 'bs4-media'
    'body': """
      <div class="media">
        <a class="media-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
        </a>
        <div class="media-body">
          <h4 class="media-heading">$1</h4>
          $2
        </div>
      </div>
    """
